html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header{
  position: fixed;
  width: inherit;
  top: 0;
  background-color: red;
}

.footer {
  position: fixed;
  width: inherit;
  bottom: 0;
  background-color: blue;
}

