.container {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  gap: 5px;
}

.panel {
  position: relative;

  height: 80vh;
  border-radius: 50px;
  overflow: hidden;
  flex: 0 0 10%;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: flex 0.5s ease-in;
  background-size: cover;
  background-position: center;
}

.panel h3 {
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.active {
  flex: 1;
}

.container > div:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1506064549099-34b18723e8c9?auto=format&fit=crop&q=80&w=2370&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.container > div:nth-child(2) {
  background-image: url(https://plus.unsplash.com/premium_photo-1667126447968-f02d4cb36114?auto=format&fit=crop&q=80&w=2370&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.container > div:nth-child(3) {
  background-image: url(https://plus.unsplash.com/premium_photo-1661964071210-6944841e2e87?auto=format&fit=crop&q=80&w=2370&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.container > div:nth-child(4) {
  background-image: url(https://plus.unsplash.com/premium_photo-1671628147501-42120d9d4af4?auto=format&fit=crop&q=80&w=2487&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.container > div:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1518295141657-bf5695e37ee7?auto=format&fit=crop&q=80&w=2374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
