/* 属性选择器 */
input[type="text"] {
  background-color: #ff6b6b;
}

input[type="password"] {
  background-color: #ffd93d;
}

/* 以text开头 */
p[class^="text"] {
  background-color: #6bcb77;
}

/* 以detail结尾 */
p[class$="detail"] {
  background-color: #4d96ff;
}

/* 包含ewdin */
p[class*="edwin"] {
  background-color: #8d8daa;
}
